@using Crazy2018_Sys_Common;
@using Crazy2018_Sys_ViewEntity;
@{
    ViewBag.Title = "返利流水日志";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
@model DataResults<UseragnetlogView>
<style>
    th {
        text-align: center;
    }
</style>
<div class="mainbody">
    <form id="form1" runat="server">
        <!--导航栏-->
        <div class="location">
            <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
            <a href="/Home/Center" class="home"><i></i><span>首页</span></a>
            <i class="arrow"></i>
            <a href="/GameCore/UserAgentlog"><span>日志管理</span></a>
            <i class="arrow"></i>
            <span>红利领取记录</span>
        </div>
        <!--/导航栏-->
        <!--工具栏-->
        <div id="floatHead" class="toolbar-wrap">
            <div class="toolbar">
                <div class="box-wrap">
                    <a class="menu-btn"></a>
                    <div class="l-list">
                        <ul class="icon-list">
                            <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a></li>
                            <li>
                                <a id="btnDelete" class="del"><i></i><span>删除</span></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="toolbar">
                <div class="l-list">
                    <table cellpadding="0" cellspacing="0">
                        <tr>
                            <td>
                                时间：
                            </td>
                            <td>
                                <input name="txtStartTime" type="text" id="txtStartTime" value="@Convert.ToDateTime(Model.starttime).ToString("yyyy-MM-dd")" class="input" onclick="laydate()">-
                            </td>
                            <td>
                                <input name="txtEndTime" type="text" id="txtEndTime" value="@Convert.ToDateTime(Model.endtime).ToString("yyyy-MM-dd")" class="input" onclick="laydate()">
                            </td>
                            <td>
                                用户ID:
                            </td>
                            <td>
                                <input name="txtKeywords" placeholder="用户id查询" oninput="value=value.replace(/[^\d]/g,'')" type="text" id="txtKeywords" value="@Model.Keywords" class="input">
                            </td>
                            <td>
                                &nbsp; &nbsp;
                                <input type="button" id="lbtnSearch" value="查询" class="btn" />
                            </td>
                        </tr>
                    </table>



                </div>
            </div>
        </div>

        <div class="table-container">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
                <tbody>
                    <tr style="text-align:center" class="odd_bg">
                        <th width="5%">操作</th>
                        <th width="7%">用户ID</th>
                        <th align="20%">用户名称</th>
                        <th align="5%">领取金币</th>
                        @*<th align="5%">状态</th>*@
                        <th align="5%">创建时间</th>
                    </tr>
                    @{
                        decimal? score = 0;
                    }


                    @foreach (var item in Model.Data)
                    {
                        score += item.Gold;
                        <tr class='One'>
                            <td align="center">
                                <input type="hidden" name='hidId' id='hidId' value='@item.ID'>
                                <span class='checkall' style='vertical-align: middle;'>
                                    <input id='chkId' class='checkall' type='checkbox' name='chkId'>
                                </span>
                            </td>
                            <td align="center">@item.UserId</td>
                            <td align="center">@item.UserName</td>
                            <td align="center">@item.Gold.ToString("0.00")</td>
                            @*<td align="center">@item.State</td>*@
                            <td align="center">@item.CreatTime</td>
                        </tr>

                    }

                    <tr class='One'>
                        <td align="center">
                            页总计：
                        </td>
                        <td align="center">
                        </td>
                        <td align="center">
                        </td>
                        <td align="center">
                            @score.Value.ToString("0.00")
                        </td>
                        <td align="center">
                        </td>
                    </tr>
                    <tr class='One'>
                        <td align="center">
                            条件总计：
                        </td>
                        <td align="center">
                        </td>
                        <td align="center">
                        </td>
                        <td align="center">
                            @ViewBag.sumgolg
                        </td>
                        <td align="center">
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!--/列表-->
        <!--内容底部-->
        <div class="line20"></div>
        <div class="pagelist">
            <div class="l-btns">
                <span>显示</span><input name="txtPageNum" type="text" value="@Model.PageSize" id="txtPageNum" class="pagenum" onkeydown="return checkNumber(event);"><span>条/页</span>
            </div>
            <div id="PageContent" class="default">@Html.Raw(Model.InnerHtml)</div>
            <input type="hidden" id="PageIndex" name="PageIndex" value="@Model.PageIndex" />
        </div>
        <!--/内容底部-->
        <div style="width:100%;text-align: center;">
            <span style="display: inline-block;padding: 4px 15px 0px 15px;color: #666;font-size:14px;">(注 : 搜索请数据用户ID查询)</span>
        </div>
    </form>
</div>
<script>
    $(function () {

        $(".pagelist").on('click', 'a', function () {
            var PageIndex = $("#PageIndex").val();
            var lkl2 = $(this).text();
            if (lkl2 == "下一页»") {
                PageIndex = parseInt(PageIndex) + 1
            } else if (lkl2 == "«上一页") {
                PageIndex = parseInt(PageIndex) - 1
            } else {
                PageIndex = lkl2
            }
            window.location.href = "/GameCore/UserAgentlog?Keywords=" + $("#txtKeywords").val() + "&PageSize=" + $(this).val() + "&PageIndex=" + PageIndex + "&starttime=" + $("#txtStartTime").val() + "&endtime=" + $("#txtEndTime").val();
        })

        $("#txtPageNum").change(function () {
            window.location.href = "/GameCore/UserAgentlog?Keywords=" + $("#txtKeywords").val() + "&PageSize=" + $(this).val() + "&starttime=" + $("#txtStartTime").val() + "&endtime=" + $("#txtEndTime").val();;
        })
        $("#lbtnSearch").click(function () {
            window.location.href = "/GameCore/UserAgentlog?Keywords=" + $("#txtKeywords").val() + "&PageSize=" + $("#txtPageNum").val() + "&starttime=" + $("#txtStartTime").val() + "&endtime=" + $("#txtEndTime").val();;
        });
    })


    var numID = [];//用于储存需要删除的ID
    $("#btnDelete").click(function () {
        numID = []
        var num1 = {};
        var on1 = $(".One");
        for (var o = 0; o < on1.length; o++) {
            var lkl3 = $(on1[o]).find(".checkall")
            for (var ol = 0; ol < lkl3.length; ol++) {
                //console.log(lkl3[ol].checked)
                if (lkl3[ol].checked == true) {
                    var lkl4 = $(on1[o]).find("#hidId").val();
                    num1.id = lkl4
                    numID.push(num1.id)

                }
            }
        }
        var a, b;
        a = numID;
        b = a.join(",");
        var ids = b;

        $.ajax({
            url: "/GameCore/UserAgentLogDel?ids=" + ids + "",
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (data) {
                eval(data);
                var PageIndex = $("#PageIndex").val();
                window.location.href = "/GameCore/UserAgentlog?Keywords=" + $("#txtKeywords").val() + "&PageSize=" + $("#txtPageNum").val() + "&PageIndex=" + PageIndex;

            }
        })
    })

</script>

