@using Crazy2018_Sys_Common;
@using Crazy2018_Sys_DBHelper;
@{
    Layout = null;
}
@model DataResults<dt_manager_role>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0,user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>角色列表</title>
    <link href="~/scripts/artdialog/ui-dialog.css" rel="stylesheet" type="text/css" />
    <link href="~/skin/default/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/scripts/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/scripts/artdialog/dialog-plus-min.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/js/laymain.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/js/common.js"></script>
    <script>
        $(function () {

            $("#txtPageNum").change(function () {
                window.location.href = "/Home/RoleList?Keywords=" + $("#txtKeywords").val() + "&PageSize=" + $(this).val();
            })
            $("#lbtnSearch").click(function () {
                window.location.href = "/Home/RoleList?Keywords=" + $("#txtKeywords").val() + "&PageSize=" + $("#txtPageNum").val();
            });


            var numID = [];//用于储存需要删除的ID
            $("#btnDelete").click(function () {
                numID = []
                var num1 = {};
                var on1 = $(".One");
                for (var o = 0; o < on1.length; o++) {
                    var lkl3 = $(on1[o]).find(".checkall")
                    for (var ol = 0; ol < lkl3.length; ol++) {
                        //console.log(lkl3[ol].checked)
                        if (lkl3[ol].checked == true) {
                            var lkl4 = $(on1[o]).find("#hidId").val();
                            num1.id = lkl4
                            numID.push(num1.id)

                        }
                    }
                }
                var a, b;
                a = numID;
                b = a.join(",");
                var ids = b;
                dialog({
                    title: '提示',
                    content: '本操作会删除角色及相关权限，是否继续?',
                    okValue: '确定',
                    ok: function () {
                        
                        $.ajax({
                            url: "/Home/RoleDel?ids=" + ids + "",
                            type: "post",
                            contentType: "application/json",
                            dataType: "json",
                            success: function (data) {
                                eval(data);
                                var PageIndex = $("#PageIndex").val();
                                window.location.href = "/Home/RoleList";
                            }
                        })
                    },
                    cancelValue: '取消',
                    cancel: function () { }
                }).showModal();

            })


        });
    </script>
</head>

<body class="mainbody">
    <form  id="form1">
        <!--导航栏-->
        <div class="location">
            <a href="javascript:history.back(-1);" class="back"><i></i><span>返回上一页</span></a>
            <a href="/Home/Center" class="home"><i></i><span>首页</span></a>
            <i class="arrow"></i>
            <a href="/Home/ManagerList"><span>管理员</span></a>
            <i class="arrow"></i>
            <span>角色列表</span>
        </div>
        <!--/导航栏-->
        <!--工具栏-->
  
        <div id="floatHead" class="toolbar-wrap">
            <div class="toolbar">
                <div class="box-wrap">
                    <a class="menu-btn"></a>
                    <div class="l-list">
                        <ul class="icon-list">
                            <li><a class="add" href="RoleEdit?op=@DTEnums.ActionEnum.Add"><i></i><span>新增</span></a></li>
                            <li><a class="all" href="javascript:;" onclick="checkAll(this);"><i></i><span>全选</span></a></li>
                            <li><a  id="btnDelete" class="del"><i></i><span>删除</span></a></li>
                        </ul>
                    </div>
                    <div class="r-list">
                        <input name="txtKeywords" type="text" id="txtKeywords" value="@Model.Keywords" class="keyword">
                        <a id="lbtnSearch" class="btn-search" href="javascript:__doPostBack('lbtnSearch','')">查询</a>
                    </div>
                </div>
            </div>
        </div>
        <!--/工具栏-->
        <!--列表-->
       
        <div class="table-container">

            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="ltable">
                <tbody>
                    <tr class="odd_bg">
                        <th width="8%">选择</th>
                        <th align="left">角色名称</th>
                        <th width="12%" align="left">类型</th>
                        <th width="12%">操作</th>
                    </tr>
                    @foreach (var item in Model.Data)
                    {
                    <tr class='One'>
                        <td align="center">
                            <input type="hidden" name='hidId' id='hidId' value='@item.id'>
                            <span class='checkall' style='vertical-align: middle;'>
                                <input id='chkId' class='checkall' type='checkbox' name='chkId'>
                            </span>
                        </td>
                        <td><a href="RoleEdit?op=@DTEnums.ActionEnum.Edit&id=@item.id">@item.role_name</a></td>
                        <td>@(@item.role_type == 1 ? "超级用户" : "系统用户")</td>
                        <td align="center"><a href="RoleEdit?op=@DTEnums.ActionEnum.Edit&id=@item.id">修改</a></td>
                    </tr>
                    }
                </tbody>
            </table>

        </div>
        <!--/列表-->
        <!--内容底部-->
        <div class="line20"></div>
        <div class="pagelist">
            <div class="l-btns">
                <span>显示</span><input name="txtPageNum" type="text" value="@Model.PageSize" id="txtPageNum" class="pagenum" onkeydown="return checkNumber(event);"><span>条/页</span>
            </div>
            <div id="PageContent" class="default">@Html.Raw(ViewBag.InnerHtml)</div>
        </div>
        <!--/内容底部-->
        <div style="width:100%;text-align: center;">
            <span style="display: inline-block;padding: 4px 15px 0px 15px;color: #666;font-size:14px;">(注 : 用户ID,等等等等扥等可以作为查询条件，在输入框中输入后点击查询)</span>
        </div>
    </form>
</body>
</html>
